<% if @wish_list.nil? %>
   Wish list does not exist.
<%else%>
  
<% if !@categories.blank? %>
  <% if @current_user == @wish_list.user %>
     
     <div id = 'top_links'> 
        <b><%=link_to "Publish",publish_to_friends_wish_lists_path(:category => @category) ,:confirm => 'Allow your friends to view your wishlist?'%> </b>  |  <b><%= link_to 'Edit my wishlist', edit_wish_list_path(@wish_list)%></b>  |  <b><%= link_to 'Delete my wishlist', wish_list_path(:id => @wish_list.id), :confirm => 'your wishlist will be deleted', :method => :delete %></b> 
     </div>
    
     <div class ="facebook_container container">
     <h3>Items in your wishlist.</h3>  
   <%else%>
     <h3> <%= @wish_list.user.name %> 's  wishlist: <%= @wish_list.name %></h3>
<%end%>

<div class="outer-box">
	<div class="box">
  <% @counter = 0 %>
 
    <% @categories.each do |category| %>
    <% @counter = @counter + 1 %>
      
          <div class="heading"> <%=h category.name %> </div>

          <div class="box_lt"><center><%= image_tag category.avatar.url(:thumb)%></center></div>

          <div class="box_rt">
		<p><%=h category.description %></p>
		<a><%=h category.url %></a>
          </div>
         
         
          <% if @current_user == @wish_list.user %>
          <div class="points"><%= link_to 'Remove from wishlist', remove_category_wish_lists_path(:id => category.category_id), :confirm => "#{category.name} will be removed from your wishlist.", :method => :delete %>
          </div>
         <% end %>
       
    <% if @counter == 3 %>

    <% @counter = 0 %> 
    <%end%>
</div>

  <% end %>
  </div>
   
    
</div>
<%else%> 
  <p>There are no items in your wishlist 
  <%= link_to 'Click here to Add Items', categories_path %></p>
<%end%>
<br />




<%end%>
 

