<% if @wish_list.nil? %>
   Wish list does not exist.
<%else%>
  

  
<% if !@categories.blank? %>
  <% if current_user == @wish_list.user %>
    
    
     <h2>Items in your wishlist.</h2>  
   <%else%>
   <h2> <%=fb_name(@facebook_id)%> 's  wishlist.</h2>
<%end%>
  <table>
  <% @counter = 0 %>
  <tr>
    <% @categories.each do |category| %>
    <% @counter = @counter + 1 %>
      <td>
        <div class = "item">
          <div class ='item_title'> <%=h category.name %> </div>
          <div class ='item_image'><%= image_tag category.avatar.url(:thumb)%></div>
          <div class ='item_desc'> <%=h category.description %></div>
          <div class ='item_url'> <a><%=h category.url %></a></div>
          <!--<b>Lowest points needed:</b><%=h category.lowest_number_of_points_needed %><br/> -->
          
       </div>
    </td>
    <% if @counter == 3 %>
      <tr></tr>
    <% @counter = 0 %> 
    <%end%>
  <% end %>
   </tr>
   
    

</table>
<%else%> 
  <p>There are no items in your wishlist 
  <%= link_to 'Click here to Add Items', categories_path %></p>
<%end%>
<br />




<%end%>
 

