<% if !current_user %>
<ul>
	

     	<li><%= authlogic_facebook_login_button :js => :jquery %></li>
</ul>

<% elsif facebook_session %>

<ul class="logout">
	<li><%= fb_logout_link("Logout from facebook", "#{root_url}user_session/logout")%></li>
</ul>

<%else%>

  	<li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
</ul>

<% end %>

<div id="menu">
  <ul>
   <%if admin?%> 
   <li><%= link_to "Categories", admin_categories_path %></li> 
   <li><%= link_to "Users",admin_users_path %></li>
  <%end%> 
  </ul>
 </div>
    

