<h3>New category</h3>
<% form_for([:admin,@category], :url => admin_categories_path,:html => { :multipart => true })  do |f| %>
  <%= f.error_messages %>
<table class="formstyle" width="100%">
	<tr>
      		<th><%= f.label :category_name %></th>
    		<td><%= f.text_field :name %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :category_description %></td>
    		<td><%= f.text_area :description %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :image %></td>
    		<td><%= f.file_field :avatar %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :url %></th>
    		<td><%= f.text_field :url %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :lowest_number_of_points_needed %></th>
    		<td><%= f.text_field :lowest_number_of_points_needed %></td>
  	</tr>
</table>
  	<p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', categories_path %>
