
<% @counter = 0 %>
<h4>Listing all sub categories</h4>
<hr />

<% @fb_categories.each do |fb_category| %>
<div class="list">
        <% @counter = @counter + 1 %>

       <div class="name"><center><%=h fb_category.name %></center></div>


	<div class="list_box">
       <center><%=link_to "#{image_tag fb_category.avatar.url(:thumb)}",category_path(fb_category.id,:links => @links)%></center>
	</div>

	<div class="desription">
		 <h4>Points needed:<%=h fb_category.lowest_number_of_points_needed %></h4>
    <a><%=link_to "View details",category_path(fb_category.id)%></a>
	</div>
	  	
	</div>

	<div class="points">
       
               <% if @wish_list.blank? %>
            		<%=link_to "Add to wishlist", new_wish_list_path ,:confirm => 'You have not created a wishlist yet.Create a new wishlist?'%> 
         	<%else%>
             		<% unless @category_ids.include?(fb_category.id) %>
          		<%=link_to "Add to wishlist",add_to_wishlist_wish_lists_path(:category_id => fb_category.id) ,:confirm => "#{fb_category.name} will be added to your wishlist."%> 
          	<%else%>
            		<a>Already in wishlist</a>
          	<%end%>
     	     <%end%>
       </div>
    	<% if @counter == 3 %>
    	<% @counter = 0 %> 
    	<%end%>
	</div>

<% end %>




