<h2>Product Categories</h2>
<br />
<% @categories.each do |category| %>
<div class="outer_box">
<div class="box">

<div class="heading"><%=h category.name %></div>
<div class="box_lt">
		   
		<center><%= image_tag category.avatar.url(:thumb)%></center>
</div>
<div class="box_rt">

		
		<p><%=h category.description %></p>
    		<a><%=h category.url %></a>
</div>
   

<div class="points">
	Lowest Points Needed :
	<%=h category.lowest_number_of_points_needed %>
</div>
</div>
</div>
<% end %>





