<h3>Product Categories</h3>
<% @categories.each do |category| %>
<div class="border_left">
<div class="box">
 <table class ="category-index" width="98%">
 <tr>
   <td width="175px">
		<b><%=h category.name %></b>
		<br/><%= image_tag category.avatar.url(:thumb)%>
   </td>
   <td>
		<b>Description:</b><%=h category.description %><br/>
    		<b>Url</b>:<a><%=h category.url %></a><br/>
    		<b>Lowest points needed:</b><%=h category.lowest_number_of_points_needed %>
  </td>
      
      <!--<%= link_to 'Edit', edit_category_path(category) %>
      <%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %><br/><br/></td>-->
      
   
  </tr>
 </table>
</div>
</div>
 <% end %>

