<% @counter = 0 %>
<h3>Listing all product categories</h3>

  	
	<% @fb_categories.each do |fb_category| %>
        <% @counter = @counter + 1 %>
<div class="outer_box">
	<div class="box">
        <div class="heading"><%=h fb_category.name %></div>
	<div class="box_lt">
		<center><%=link_to "#{image_tag fb_category.avatar.url(:thumb)}",categories_path(:category_id => fb_category.id)%></center>
	</div>
	<div class="box_rt">
		<p><%=h fb_category.description %></p>
		<p><a><%=h fb_category.url %></p>
	</div>
	<div class="points">
           Lowest points needed:</b><%=h fb_category.lowest_number_of_points_needed %>
        </div>

          
          <% if @wish_list.blank? %>
             <b><%=link_to "Add to wishlist", new_wish_list_path ,:confirm => 'You have not created a wishlist yet.Create a new wishlist?'%> </b>
          <%else%>
             <% unless @category_ids.include?(fb_category.id) %>
            <div class ='item_links'><%=link_to "Add to wishlist",add_to_wishlist_wish_lists_path(:category_id => fb_category.id) ,:confirm => "#{fb_category.name} will be added to your wishlist."%> </div>
          <%else%>
            <div class ='item_links'><a>Already added to wishlist</div>
</div>
</div>
          <%end%>
     <%end%>

    <% if @counter == 3 %>
  
    <% @counter = 0 %> 

    <%end%>
<% end %>


<script type="text/javascript">
	jQuery(".outer_box").corner("corner 10px");
	jQuery(".box").corner("corner 10px");
	jQuery(".heading").corner("top 10px");
</script>


