<% content_for :categories_tab do %>
    <% unless (@current_user.wish_list.blank?) %>
       <%= fb_tab_item "#{@current_user.name}'s wishlist", wish_list_path(@wish_list.id) %>
    <% end -%>
<% end %>

<div class ="facebook_container container">
<% @counter = 0 %>
<h4>Listing all product categories</h4>
<hr />
<%if !@link.blank?%>
<%= link_to "#{@link.name}>>",categories_path(@link.id)%>
<%end%>
<% unless @category.blank?%>
  <%= render :partial => 'category_details' %>
<%end%>
<% @fb_categories.each do |fb_category| %>
<div class="outer-box">
	<div class="box">
        <% @counter = @counter + 1 %>

        <div class="heading"><%=h fb_category.name %></div>
	<div class="box_lt">
        
		<center><%=link_to "#{image_tag fb_category.avatar.url(:thumb)}",category_path(fb_category.id), :link_id => @link.id%></center>
	</div>

	<div class="box_rt">
		<p><%=h fb_category.description %></p>
		<a><%=h fb_category.url %></a>
	  	
	</div>

	<div class="points">
           	Lowest points needed:
	   	<b><%=h fb_category.lowest_number_of_points_needed %></b> | 
               <% if @wish_list.blank? %>
            		<%=link_to "Add to wishlist", new_wish_list_path ,:confirm => 'You have not created a wishlist yet.Create a new wishlist?'%> 
         	<%else%>
             		<% unless @category_ids.include?(fb_category.id) %>
          		<%=link_to "Add to wishlist",add_to_wishlist_wish_lists_path(:category_id => fb_category.id) ,:confirm => "#{fb_category.name} will be added to your wishlist."%> 
          	<%else%>
            		<a>Already in wishlist</a>
          	<%end%>
     	     <%end%>
       </div>
    	<% if @counter == 3 %>
    	<% @counter = 0 %> 
    	<%end%>
	</div>
</div>
<% end %>
</div>



