<h2>Edit email</h2>

<% form_for(@email) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reference_string %><br />
    <%= f.text_field :reference_string %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= fckeditor_textarea("email", "body", :toolbarSet => 'Easy', :width => '100%', :height => '200px') %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @email %> |
<%= link_to 'Back', emails_path %>
