<fb:fbml version="1.1">

<%= javascript_include_tag "facebooker.js"%>
<%= stylesheet_link_tag "category"%>

<!--
<% fb_dashboard do %>
<%= fb_help 'Feedback', "http://www.facebook.com/apps/application.php?id=6236036681" %>

<%end%>
-->
<%= fb_connect_javascript_tag %>
<% init_fb_connect "XFBML","Api" do %>
      <%= fb_user_action(flash[:user_action_to_publish]) if flash[:user_action_to_publish] %>
<% end %>


<%= render :partial => "shared/fblink" %>	



<br />
<%= fb_add_profile_section %>


 <div id = 'wrapper'>
   <%= yield%>
 </div>

</fb:fbml>



