<fb:fbml version="1.1">

  <%=javascript_include_tag 'jquery','jquery.corner'%> 


<%= stylesheet_link_tag "style"%>

<!--
<% fb_dashboard do %>
<%= fb_help 'Feedback', "http://www.facebook.com/apps/application.php?id=6236036681" %>

<%end%>
-->
<%= fb_connect_javascript_tag %>
<% init_fb_connect "XFBML","Api" do %>
      <%= fb_user_action(flash[:user_action_to_publish]) if flash[:user_action_to_publish] %>
<% end %>


<% fb_tabs do %>

  <%= fb_tab_item "Categories", categories_path %>
 
  <% unless (@wish_list.blank?) %>
    <% if @current_user !=  @wish_list.user %>
       <%= fb_tab_item "#{@wish_list.user.name}'s wishlist", wish_list_path(@wish_list.id) %>
    <% end -%>
  
  
  <% unless (@current_user.wish_list.blank? && @current_user == @wish_list.user) %>
    <%= fb_tab_item "View my wishlist",wish_list_path(@current_user.wish_list.id) %>

  <%end%>

 <%end%> 
  

  <%= fb_tab_item "Help &amp; Feedback",fb_about_url,:align=>"right"%> 
  
<% end %>





<br />
<%= fb_add_profile_section %>


 <div id = 'wrapper'>
   <%= yield%>
 </div>

</fb:fbml>



